<form (submit)="uploadFile($event, fileInput)">
    <input type="file" class="form-control-sm" (change)="onFileSelected($event)" #fileInput>
    <button type="submit" class="btn btn-sm btn-success" [disabled]="selectedFile===undefined">Upload</button>
</form>
