<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bands</title>
</head>


<body>

<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94"
                     role="img"><title>Bootstrap</title>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                          fill="currentColor"></path>
                </svg>
                <span class="fs-4">Groupes</span>
            </a>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="display-4 fw-normal text-body-emphasis">Importer une liste xls</h2>
            <app-upload (refreshBandList)="refreshBandList()"/>
        </div>
    </header>

    <main>
        <h1 class="display-6 text-center my-4">Liste des groupes</h1>
        <div *ngIf="bands$===undefined" class="p-5 d-flex justify-content-center align-items-center">
            <div class="spinner-border text-secondary"></div>
        </div>

        <div *ngIf="(bands$ | async) as bands">
            <p *ngIf="bands && bands.length === 0" class="text-center">Aucun groupe à afficher</p>
            <div *ngIf="bands.length > 0" class="table-responsive">
                <table mat-table [dataSource]="bands$" class="mat-elevation-z8">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nom du groupe</th>
                        <td mat-cell *matCellDef="let band"> {{band.name}} </td>
                    </ng-container>

                    <!-- origin Column -->
                    <ng-container matColumnDef="origin">
                        <th mat-header-cell *matHeaderCellDef> Origine</th>
                        <td mat-cell *matCellDef="let band"> {{band.origin}} </td>
                    </ng-container>

                    <!-- city Column -->
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef> Ville</th>
                        <td mat-cell *matCellDef="let band"> {{band.city}} </td>
                    </ng-container>

                    <!-- start_year Column -->
                    <ng-container matColumnDef="start_year">
                        <th mat-header-cell *matHeaderCellDef> Année de début</th>
                        <td mat-cell *matCellDef="let band"> {{band.start_year}} </td>
                    </ng-container>

                    <!-- end_year Column -->
                    <ng-container matColumnDef="end_year">
                        <th mat-header-cell *matHeaderCellDef> Année de séparation</th>
                        <td mat-cell *matCellDef="let band"> {{band.end_year}} </td>
                    </ng-container>

                    <!-- founders Column -->
                    <ng-container matColumnDef="founders">
                        <th mat-header-cell *matHeaderCellDef> Fondateurs</th>
                        <td mat-cell *matCellDef="let band"> {{band.founders}} </td>
                    </ng-container>

                    <!-- members Column -->
                    <ng-container matColumnDef="members">
                        <th mat-header-cell *matHeaderCellDef> Membres</th>
                        <td mat-cell *matCellDef="let band"> {{band.members}} </td>
                    </ng-container>

                    <!-- style Column -->
                    <ng-container matColumnDef="style">
                        <th mat-header-cell *matHeaderCellDef> Courant musical</th>
                        <td mat-cell *matCellDef="let band"> {{band.style}} </td>
                    </ng-container>

                    <!-- description Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description</th>
                        <td mat-cell *matCellDef="let band"> {{band.description}} </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Action</th>
                        <td mat-cell *matCellDef="let band">
                            <div class="d-flex gap-3">
                                <button mat-mini-fab color="warn" (click)="onDeleteItem(band)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <band-btn [band]="band" (refreshBandList)="refreshBandList()" />
                                <!--<band-dialog (refreshBandList)="refreshBandList()" />-->
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </main>
</div>


</body>
</html>
