<h2 mat-dialog-title>{{band.id ? 'Modifier le' : 'Créer un'}} groupe</h2>
<mat-dialog-content class="mat-typography">
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Nom du groupe</label>
            <input [(ngModel)]="band.name" type="text" class="form-control" name="name" id="name" >
        </div>
        <div class="mb-3">
            <label for="origin" class="form-label">Origine</label>
            <input [(ngModel)]="band.origin" type="text" class="form-control" name="origin" id="origin" >
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Ville</label>
            <input [(ngModel)]="band.city" type="text" class="form-control" name="city" id="city" >
        </div>
        <div class="mb-3">
            <label for="start_year" class="form-label">Année de début</label>
            <input [(ngModel)]="band.start_year" type="number" min="1900" max="2023" class="form-control" name="start_year" id="start_year" >
        </div>
        <div class="mb-3">
            <label for="end_year" class="form-label">Année de séparation</label>
            <input [(ngModel)]="band.end_year" type="number" min="1900" max="2023" class="form-control" name="end_year" id="end_year" >
        </div>
        <div class="mb-3">
            <label for="founders" class="form-label">Fondateurs</label>
            <input [(ngModel)]="band.founders" type="text" class="form-control" name="founders" id="founders" >
        </div>
        <div class="mb-3">
            <label for="members" class="form-label">Membres</label>
            <input [(ngModel)]="band.members" type="text" class="form-control" name="members" id="members" >
        </div>
        <div class="mb-3">
            <label for="style" class="form-label">Courant musical</label>
            <input [(ngModel)]="band.style" type="text" class="form-control" name="style" id="style" >
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Courant musical</label>
            <textarea [(ngModel)]="band.description" rows="5" class="form-control" name="description" id="description" ></textarea>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-between align-content-center px-4">
    <button type="button" (click)="createOrUpdateBand()" class="btn btn-primary mb-3" [disabled]="isUpdating">Sauvegarder <div *ngIf="isUpdating" class="spinner-border text-secondary spinner-border-sm"></div></button>
    <button mat-dialog-close type="button" class="btn btn-secondary mb-3">Annuler</button>
</mat-dialog-actions>
